@import url('https://fonts.googleapis.com/css?family=Muli');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

.container {
    border: 1px;
    border-color:cyan;
    border-style: dotted;
    display: grid;
    width: 100vw;
    min-height: 100vh;
    grid-template-rows: 15vw 5vw auto 10vw;
    grid-template-columns: 10vw 80vw 10vw;
}

body {
    font-family: Muli, sans-serif;
    color:aliceblue;
    background-color: #8e9aaf;
}

header{
    grid-row: 1;
    grid-column: 2;
    background-color: #353535;
    color: #dee2ff;
    text-align: center;

}

.header-title {
    font-family: Jua, sans-serif;
    font-size: 5em;
    font-weight: bolder;
    text-transform: uppercase;
}

nav {
    grid-row: 2;
    grid-column: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #625f5f;
    border: 1px;
    border-color: aliceblue;
    color: white;
    font-size: smaller;
    text-transform: uppercase;
}

.project-icon{
    width: 100px;
    height: 100px;
}

main {
    grid-row: 3;
    grid-column: 2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    background-color: #353535;
    color:#dee2ff;
}

section {
    margin: 10px;
}

.project-container {
    display: grid;
    width: 80vw;
    grid-template-columns: 20% 80%;
    grid-template-rows: 20% auto;
    border: 1px solid aliceblue;
}

.project-title {
    grid-column: 2;
    grid-row: 1;
}
.project-image {
    grid-column: 1;
    grid-row: 1 / span 2;
    padding: 5px 5px 5px 5px;
}

.project-description {
    grid-column: 2;
    grid-row: 2;
    padding: 5px 5px 5px 5px;
}

footer {
    grid-row: 4;
    grid-column: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color:azure;
    text-align: center;
    font-size: small;
    background-color: #5f5d5d;
}

h1, h2 {
    text-align: center;
}

a:hover {
    color: #c63baa;
}

a:visited {
    color:cadetblue;
}

a {
    color:blanchedalmond;
    text-decoration: underline;
}
